<app-navbar-customer></app-navbar-customer>

<!-- Page info -->
<div class="page-top-info">
  <div class="container">
    <h4>Rhums vieux</h4>
    <div class="site-pagination">
      <a href="./category_all.html">Tous nos rhums</a> /
      <a href="./category_vieux.html">Rhums vieux</a> /
    </div>
  </div>
</div>
<!-- Page info end -->


<!-- Category section -->
<section class="category-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 order-2 order-lg-1">
        <div class="filter-widget">
          <h2 class="fw-title">Categories</h2>
          <ul class="category-menu">
            <li><a href="#">Premiers prix</a></li>
            <li><a href="#">Milieu de gamme</a></li>
            <li><a href="#">Premium</a></li>
          </ul>
        </div>
        <div class="filter-widget mb-0">
          <h2 class="fw-title">Affiner recherche par <br> <br> Prix</h2>
          <div class="price-range-wrap">
            <h3></h3>
            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
              data-min="10" data-max="800">
              <div class="ui-slider-range ui-corner-all ui-widget-header"
                style="left: 0%; width: 100%;"></div>
              <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"
                style="left: 0%;">
              </span>
              <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"
                style="left: 100%;">
              </span>
            </div>
            <div class="range-slider">
              <div class="price-input">
                <input type="text" id="minamount">
                <input type="text" id="maxamount">
              </div>
            </div>
          </div>
        </div>

        <div class="filter-widget">
          <h2 class="fw-title">Marque</h2>
          <ul class="category-menu">
            <li><a href="#">DICTADOR<span>(1)</span></a></li>
            <li><a href="#">EL DORADO<span>(1)</span></a></li>
            <li><a href="#">MATUSALEM<span>(1)</span></a></li>
            <li><a href="#">FLOR DE CANA<span>(2)</span></a></li>
            <li><a href="#">BLACK TOT<span>(1)</span></a></li>
            <li><a href="#">SAVANNA<span>(1)</span></a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <div class="tag-sale">EN SOLDE</div>
                <a href="./product.html"><img
                    src="https://image.noelshack.com/fichiers/2019/34/4/1566465994-matusalem-15-ans.jpg"
                    alt="canard"/></a>

                <div class="pi-links">
                  <a href="./product.html" class="add-card"><i
                      class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>35,00€
                  <span class="prix-soldé">50,00€ </span></h6>
                <p>MATUSALEM 15 ans Gran Reserva 40%</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-el-dorado-15ans.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>50,00€</h6>
                <p>EL DORADO 15 ans 43%</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-dictator-10ans.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>35,00€</h6>
                <p>DICTADOR 10 ans 40% </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-flordecana-18ans.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>69,00€</h6>
                <p>FLOR DE CANA 18 ans 40% </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-flordecana-7ans.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>33,00€</h6>
                <p>FLOR DE CANA 7 ans Gran Reserva 40% </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-black-tot-royal.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>760,00€</h6>
                <p>BLACK TOT Royal Naval 54,3% </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-savanna-15ans.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>250,00€</h6>
                <p>SAVANNA 15 ans 1999 Millenium 43% </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Category section end -->
<app-footer></app-footer>
