@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

img {
  justify-content: center;
}

.pb-2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carousel-caption {
  padding: 0%;
}
p {
  color: navajowhite;
  text-align: justify;
  justify-content: right;
  margin-right: 60%;
}

h3 {
  color: white;
  margin-bottom: 20%;
  margin-right: 60%;

  /** max-width: 60%;
  max-height: 60%;
*/
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: navajowhite;
}

.col-md-12 {
  background-color: navajowhite;
}

@media only screen and (max-width: 767px) {
  h3 {
    color: white;
    font-size: 100%;
    margin-right: 60%;
    margin-bottom: 0;

    /** max-width: 60%;
    max-height: 60%;
  */
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}
