<div class="modal-content-connexion form-elegant">
  <!--Header-->
  <div class="modal-header text-center">
    <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Se
        connecter</strong></h3>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--Body-->
  <div class="modal-body mx-4">
    <!--Body-->
    <div class="md-form mb-5">
      <input type="email" id="Form-email1" class="form-control validate" [(ngModel)]="loginInfo.login">
      <label data-error="wrong" data-success="right" for="Form-email1">email</label>
    </div>

    <div class="md-form pb-3">
      <input type="password" id="Form-pass1" class="form-control validate" [(ngModel)]="loginInfo.password">
      <label data-error="wrong" data-success="right" for="Form-pass1">mot de passe</label>
      <p class="font-small blue-text d-flex justify-content-end">Mot de passe<a href="forgot-password.html"
          class=" ml-1">
          oublié?</a></p>
    </div>

    <div class="text-center mb-3">
      <button type="button" (click)="passBack()" (click)="checkLogin()"
        class="btn btn-danger btn-user btn-block btn-text blue-gradient btn-rounded z-depth-1a ">Se connecter</button>
    </div>
    <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> Se connecter via :</p>

    <div class="row my-3 d-flex justify-content-center">
      <div class="liens-connexion-alternative">
        <!--Facebook-->
        <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><a href=""
            class="facebook"><i class="fa fa-facebook"></i></a></button>
        <!--Twitter-->
        <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><a href="" class="twitter"><i
              class="fa fa-twitter"></i></a></button>
        <!--Google +-->
        <button type="button" class="btn btn-white btn-rounded z-depth-1a"> <a href="" class="google-plus"><i
              class="fa fa-google-plus"></i></a></button>
      </div>
    </div>
  </div>
  <!--Footer-->
  <div class="modal-footer mx-5 pt-3 mb-1">
    <p class="font-small grey-text d-flex justify-content-end">Pas encore membre? <a href="./register.html" class=" ml-1">S'enregistrer</a></p>
  </div>
</div>
