<app-navbar-customer></app-navbar-customer>

<!-- Page info -->
<div class="page-top-info">
  <div class="container">
    <h4>Rhums Agricoles</h4>
    <div class="site-pagination">
      <a href="./category_all.html">Tous nos rhums</a> /
      <a href="./category_agricoles.html">Rhums Agricoles</a> /
    </div>
  </div>
</div>
<!-- Page info end -->


<!-- Category section -->
<section class="category-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 order-2 order-lg-1">
        <div class="filter-widget">
          <h2 class="fw-title">Categories</h2>
          <ul class="category-menu">
            <li><a href="#">Premiers prix</a></li>
            <li><a href="#">Milieu de gamme</a></li>
            <li><a href="#">Premium</a></li>
          </ul>
        </div>
        <div class="filter-widget mb-0">
          <h2 class="fw-title">Affiner recherche par <br> <br> Prix</h2>
          <div class="price-range-wrap">
            <h3></h3>
            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
              data-min="10" data-max="800">
              <div class="ui-slider-range ui-corner-all ui-widget-header"
                style="left: 0%; width: 100%;"></div>
              <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"
                style="left: 0%;">
              </span>
              <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"
                style="left: 100%;">
              </span>
            </div>
            <div class="range-slider">
              <div class="price-input">
                <input type="text" id="minamount">
                <input type="text" id="maxamount">
              </div>
            </div>
          </div>
        </div>

        <div class="filter-widget">
          <h2 class="fw-title">Marque</h2>
          <ul class="category-menu">
            <li><a href="#">BIELLE<span>(2)</span></a></li>
            <li><a href="#">KARUKERA <span>(2)</span></a></li>
            <li><a href="#">NEISSON<span>(1)</span></a></li>
            <li><a href="#">RHUM CLEMENT <span>(1)</span></a></li>
            <li><a href="#">BOLOGNE<span>(1)</span></a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <div class="tag-sale">EN SOLDE</div>
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466496-bielle-2001.jpg
                  " alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>265,00€<br></br><span class="prix-soldé">315,00€ </span></h6>
                <p>BIELLE 2001 Cask 61 54,6%</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466635-bielle-2002.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>630,00€</h6>
                <p>BIELLE 2002 52,8% </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466635-kakukera.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>59,00€</h6>
                <p>KARUKERA Rhum Vieux Reserve Speciale 42% </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466635-neisson.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>29,90€ </h6>
                <p>NEISSON Le Rhum par Neisson 52,5%</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466635-kakukera-base.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>47,50€</h6>
                <p>KARUKERA Rhum Vieux Agricole 42%</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466635-clement.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>35,90€</h6>
                <p>RHUM CLEMENT VSOP 40% </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466635-bologne-xo.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>149,00€</h6>
                <p>BOLOGNE XO 42% </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Category section end -->
<app-footer></app-footer>
