<!-- Footer section -->
<section class="footer-section">
  <div class="container">
    <div class="footer-logo text-center col-xl-6 col-lg-7 offset-5">
      <a href="#" routerLink="index.html"><img src="assets/images/logo.png" alt=""></a>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="footer-widget about-widget">
          <h2>Notre histoire</h2>
          <p>Fort de 10 années d'expérience dans la gestion de bar à rhums, et de 2 mois en développement
            back/front Java / Javascript, c'est à l'âge de 32 ans que Brice D eut l'idée de créer un
            site de vente de rhums pour particuliers. De famille antillaise, il a été initié très tôt à
            l'art de l'élaboration du rhum et a décidé de faire partager à la métropole son savoir-faire
            et sa passion. Depuis, 3 collaborateurs se sont joints à lui pour vous offrir la meilleure
            expérience de dégustation de rhum à domicile
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 d-flex justify-content-center">
        <div class="footer-widget contact-widget">
          <h2>Informations</h2>
          <div class="con-info col-4000000">

            <p>La case de l'Oncle Séraphin</p>

          </div>
          <div class="con-info col-12">

            <p>118 rue de la soif</p>
          </div>
          <div class="con-info col-12">

            <p>+33 6 23 45 97 12</p>
          </div>
          <div class="con-info col-12">

            <p>oncleseraphin@contact.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="social-links-warp">
    <div class="container">
      <div class="social-links">
        <a href="#" routerLink="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
        <a href="#" routerLink="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
        <a href="#" routerLink="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
        <a href="#" routerLink="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
        <a href="#" routerLink="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
        <a href="#" routerLink="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
        <a href="#" routerLink="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
      </div>

      <p class="text-white text-center mt-5">Copyright &copy;
      2019 All rights reserved | La case de l'oncle
        Seraphin
        <br />
        L'ABUS D'ALCOOL EST DANGEREUX POUR LA SANTÉ. SACHEZ CONSOMMER AVEC MODÉRATION.
    </div>
  </div>
</section>

<!-- Footer section end -->
