
<app-navbar-customer></app-navbar-customer>
<!-- product section -->
<section class="product-section">
  <div class="container">
    <!-- <div class="back-link">
      <a routerLink= "category_all">  Revenir au catalogue </a>
    </div> -->
    <div class="row">
      <div class="col-lg-6">
        <div class="product-pic-zoom">
          <img class="product-big-img" src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
        </div>

      </div>
      <div class="col-lg-6 product-details">
        <h2 class="p-title">MATUSALEM 15 ans Gran Reserva 40%</h2>
        <h3 class="p-price">35.00€</h3>
        <h4 class="p-stock">Disponibilité <span>En stock</span></h4>


        <div class="p-rating">
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>

        </div>
        <div class="p-review">
          <a routerLinkActive="">0 reviews</a>|<a routerLinkActive="">Donner son avis</a>
        </div>

        <div class="quantity">
          <p>Quantité</p>
                      <div class="pro-qty"><input type="text" value="1"></div>
                  </div>



    <a (click)="addProductCart()" class="site-btn btn-danger">Acheter maintenant</a>

        <a routerLinkActive="#" class="site-btn">Acheter maintenant</a>
        <div id="accordion" class="accordion-area">
          <div class="panel">
            <div class="panel-header" id="headingOne">
              <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">histoire</button>
            </div>
            <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="panel-body">
                <p> Produit dans la République Dominicaine, Matusalem Gran Reserva est un rhum de style cubain. Il a été vieilli dans un solera, un système de vieillissement en fût de chêne assez commun dans les pays de culture hispanique. Doux et épicé à la fois, il est marqué par des notes de zestes d'oranges, de banane, de vanille et de cannelle. Peu sucré par rapport à beaucoup d'autres rhums actuels, il reste léger et facile à boire.
                  </p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-header" id="headingTwo">
              <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">informations </button>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="panel-body">
                <p><h4 id="marque">Marque:  </h4> Matusalem
                <p><h4 id="pays">Pays:  </h4> République Dominicaine
                <p><h4 id="degré">Degré:  </h4> 40%
                <p><h4 id="volume">Volume:  </h4> 70cl
                <p><h4 id="age">Age:  </h4> 15 ans
              </div>
            </div>
          </div>

        </div>
        <div class="social-sharing">
          <a href=""><i class="fab fa-google-plus"></i></a>
          <a href=""><i class="fab fa-pinterest"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-info" style="margin-left: 10px"
 class="nav-link" routerLink="/product_list">
 Retour liste produits
  </button>
</section>
<!-- product section end -->


<!-- RELATED PRODUCTS section
<section class="related-product-section">
  <div class="col-lg-4 col-sm-6">
      <div class="product-item">
        <div class="pi-pic">
          <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-savanna-15ans.jpg"
            alt="">
          <div class="pi-links">
            <a  routerLink="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                panier</span></a>
            <a  routerLink="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>250,00€</h6>
          <p>SAVANNA 15 ans 1999 Millenium 43% </p>
        </div>
      </div>
    </div>
</section>
RELATED PRODUCTS section end -->
<app-product-slider></app-product-slider>
<app-footer></app-footer>
