
<app-navbar-customer></app-navbar-customer>

<!-- product section -->
<section class="product-section">
  <div class="container">
    <div class="back-link">
      <a href="./category_vieux.html"> &lt;&lt; Revenir aux rhums vieux</a>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="product-pic-zoom">
          <img class="product-big-img" src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
        </div>

      </div>
      <div class="col-lg-6 product-details">
        <h2 class="p-title">MATUSALEM 15 ans Gran Reserva 40%</h2>
        <h3 class="p-price">35.00€</h3>
        <h4 class="p-stock">Disponibilité <span>En stock</span></h4>


        <div class="p-rating">
          <i class="fa fa-star-o fa-fade"></i>
          <i class="fa fa-star-o fa-fade"></i>
          <i class="fa fa-star-o fa-fade"></i>
          <i class="fa fa-star-o fa-fade"></i>
          <i class="fa fa-star-o fa-fade"></i>
        </div>
        <div class="p-review">
          <a href="">0 reviews</a>|<a href="">Donner son avis</a>
        </div>

        <div class="quantity">
          <p>Quantité</p>
                      <div class="pro-qty"><input type="text" value="1"></div>
                  </div>
        <a href="#" class="site-btn">Acheter maintenant</a>
        <div id="accordion" class="accordion-area">
          <div class="panel">
            <div class="panel-header" id="headingOne">
              <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">histoire</button>
            </div>
            <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="panel-body">
                <p> Produit dans la République Dominicaine, Matusalem Gran Reserva est un rhum de style cubain. Il a été vieilli dans un solera, un système de vieillissement en fût de chêne assez commun dans les pays de culture hispanique. Doux et épicé à la fois, il est marqué par des notes de zestes d'oranges, de banane, de vanille et de cannelle. Peu sucré par rapport à beaucoup d'autres rhums actuels, il reste léger et facile à boire.
                  </p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-header" id="headingTwo">
              <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">informations </button>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="panel-body">
                <p><h4 id="marque">Marque:  </h4> Matusalem
                <p><h4 id="pays">Pays:  </h4> République Dominicaine
                <p><h4 id="degré">Degré:  </h4> 40%
                <p><h4 id="volume">Volume:  </h4> 70cl
                <p><h4 id="age">Age:  </h4> 15 ans
              </div>
            </div>
          </div>

        </div>
        <div class="social-sharing">
          <a href=""><i class="fa fa-google-plus"></i></a>
          <a href=""><i class="fa fa-pinterest"></i></a>
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product section end -->


<!-- RELATED PRODUCTS section -->
<section class="related-product-section">
  <div class="container">
    <div class="section-title">
      <h2>PRODUITS SIMILAIRES</h2>
    </div>
    <div class="product-slider owl-carousel">
      <div class="product-item">
        <div class="pi-pic">
          <img src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
          <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>$35,00</h6>
          <p>Flamboyant Pink Top </p>
        </div>
      </div>
      <div class="product-item">
        <div class="pi-pic">
          <div class="tag-new">New</div>
          <img src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
          <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>$35,00</h6>
          <p>Black and White Stripes Dress</p>
        </div>
      </div>
      <div class="product-item">
        <div class="pi-pic">
          <img src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
          <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>$35,00</h6>
          <p>Flamboyant Pink Top </p>
        </div>
      </div>
      <div class="product-item">
          <div class="pi-pic">
            <img src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
            <div class="pi-links">
              <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
              <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>$35,00</h6>
            <p>Flamboyant Pink Top </p>
          </div>
        </div>
      <div class="product-item">
        <div class="pi-pic">
          <img src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
          <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>$35,00</h6>
          <p>Flamboyant Pink Top </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- RELATED PRODUCTS section end -->
