<!-- product section -->
<section class="product-section">
  <div class="container">
    <div class="back-link">
      <a href="./category_vieux.html"> &lt;&lt; Revenir aux rhums vieux</a>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="product-pic-zoom">
          <img class="product-big-img" src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
        </div>

      </div>
      <div class="col-lg-6 product-details">
        <h2 class="p-title">MATUSALEM 15 ans Gran Reserva 40%</h2>
        <h3 class="p-price">35.00€</h3>
        <h4 class="p-stock">Disponibilité <span>En stock</span></h4>


        <div class="p-rating">
          <i class="fa fa-star-o fa-fade"></i>
          <i class="fa fa-star-o fa-fade"></i>
          <i class="fa fa-star-o fa-fade"></i>
          <i class="fa fa-star-o fa-fade"></i>
          <i class="fa fa-star-o fa-fade"></i>
        </div>
        <div class="p-review">
          <a href="">0 reviews</a>|<a href="">Donner son avis</a>
        </div>

        <div class="quantity">
          <p>Quantité</p>
                      <div class="pro-qty"><input type="text" value="1"></div>
                  </div>
        <a href="#" class="site-btn">Acheter maintenant</a>
        <div id="accordion" class="accordion-area">
          <div class="panel">
            <div class="panel-header" id="headingOne">
              <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">histoire</button>
            </div>
            <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="panel-body">
                <p> Produit dans la République Dominicaine, Matusalem Gran Reserva est un rhum de style cubain. Il a été vieilli dans un solera, un système de vieillissement en fût de chêne assez commun dans les pays de culture hispanique. Doux et épicé à la fois, il est marqué par des notes de zestes d'oranges, de banane, de vanille et de cannelle. Peu sucré par rapport à beaucoup d'autres rhums actuels, il reste léger et facile à boire.
                  </p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-header" id="headingTwo">
              <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">informations </button>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="panel-body">
                <p><h4 id="marque">Marque:  </h4> Matusalem
                <p><h4 id="pays">Pays:  </h4> République Dominicaine
                <p><h4 id="degré">Degré:  </h4> 40%
                <p><h4 id="volume">Volume:  </h4> 70cl
                <p><h4 id="age">Age:  </h4> 15 ans
              </div>
            </div>
          </div>

        </div>
        <div class="social-sharing">
          <a href=""><i class="fa fa-google-plus"></i></a>
          <a href=""><i class="fa fa-pinterest"></i></a>
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product section end -->


<!-- RELATED PRODUCTS section -->
<section class="related-product-section">
  <div class="container">
    <div class="section-title">
      <h2>PRODUITS SIMILAIRES</h2>
    </div>
    <div class="product-slider owl-carousel">
      <div class="product-item">
        <div class="pi-pic">
          <img src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
          <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>$35,00</h6>
          <p>Flamboyant Pink Top </p>
        </div>
      </div>
      <div class="product-item">
        <div class="pi-pic">
          <div class="tag-new">New</div>
          <img src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
          <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>$35,00</h6>
          <p>Black and White Stripes Dress</p>
        </div>
      </div>
      <div class="product-item">
        <div class="pi-pic">
          <img src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
          <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>$35,00</h6>
          <p>Flamboyant Pink Top </p>
        </div>
      </div>
      <div class="product-item">
          <div class="pi-pic">
            <img src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
            <div class="pi-links">
              <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
              <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>$35,00</h6>
            <p>Flamboyant Pink Top </p>
          </div>
        </div>
      <div class="product-item">
        <div class="pi-pic">
          <img src="https://www.whisky.fr/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/1/m16007.jpg" alt="">
          <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>$35,00</h6>
          <p>Flamboyant Pink Top </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- RELATED PRODUCTS section end -->


<!-- Footer section -->
<section class="footer-section">
  <div class="container">
      <div class="footer-logo text-center col-xl-6 col-lg-7 offset-5">
          <a href="index.html"><img src="img/logo.png" alt=""></a>
      </div>
      <div class="row">
          <div class="col-lg-6 col-sm-6">
              <div class="footer-widget about-widget">
                  <h2>Notre histoire</h2>
                  <p>Fort de 10 années d'expérience dans la gestion de bar à rhums, et de 2 mois en développement back/front Java / Javascript, c'est à l'âge de 32 ans que Brice D eut l'idée de créer un site de vente de rhums pour particuliers. De famille antillaise, il a été initié très tôt  à l'art de l'élaboration du rhum et a décidé de faire partager à la métropole son savoir-faire et sa passion. Depuis, 3 collaborateurs se sont joints à lui pour vous offrir la meilleure expérience de dégustation de rhum à domicile
              </div>
          </div>
          <div class="col-lg-6 col-sm-6 d-flex justify-content-center">
              <div class="footer-widget contact-widget">
                  <h2>Informations</h2>
                  <div class="con-info col-4000000">

                      <p>La case de l'Oncle Séraphin</p>

                  </div>
                  <div class="con-info col-12">

                      <p>118 rue de la soif</p>
                  </div>
                  <div class="con-info col-12">

                      <p>+33 6 23 45 97 12</p>
                  </div>
                  <div class="con-info col-12">

                      <p>oncleseraphin@contact.com</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="social-links-warp">
      <div class="container">
          <div class="social-links">
              <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
              <a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
              <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
              <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
              <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
              <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
              <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
          </div>

          <p class="text-white text-center mt-5">Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | La case de l'oncle Seraphin
              <br />
              L'ABUS D'ALCOOL EST DANGEREUX POUR LA SANTÉ. SACHEZ CONSOMMER AVEC MODÉRATION.
      </div>
  </div>
</section>

<!-- Footer section end -->


<!--====== Javascripts & Jquery ======-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/main.js"></script>
