<app-navbar-customer></app-navbar-customer>
<!-- cart section end -->
<section class="cart-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="cart-table">
          <h3>Votre Panier</h3>
          <div class="cart-table-warp">
            <table>
            <thead>
              <tr>
                <th class="product-th">Produits</th>
                <th class="quy-th">Quantité</th>
                <!--<th class="size-th">SizeSize</th>-->
                <th class="total-th">Prix</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="product-col">
                  <img src="img/cart/1.jpg" alt="">
                  <div class="pc-title">
                    <h4>MATUSALEM 15 ans Gran </h4>
                    <p>35,00€</p>
                  </div>
                </td>
                <td class="quy-col">
                  <div class="quantity">
                                <div class="pro-qty">
                      <input type="text" value="1">
                    </div>
                            </div>
                </td>
                <!--<td class="size-col"><h4>Size M</h4></td>-->
                <td class="total-col"><h4>35,00€</h4></td>
              </tr>
              <tr>
                <td class="product-col">
                  <img src="img/cart/2.jpg" alt="">
                  <div class="pc-title">
                    <h4>EL DORADO 15 ans 43%</h4>
                    <p>50,00€</p>
                  </div>
                </td>
                <td class="quy-col">
                  <div class="quantity">
                                <div class="pro-qty">
                      <input type="text" value="1">
                    </div>
                            </div>
                </td>
                <!--<td class="size-col"><h4>Size M</h4></td>-->
                <td class="total-col"><h4>50,00€</h4></td>
              </tr>
              <tr>
                <td class="product-col">
                  <img src="img/cart/3.jpg" alt="">
                  <div class="pc-title">
                    <h4>DICTADOR 10 ans 40%</h4>
                    <p>35,00€</p>
                  </div>
                </td>
                <td class="quy-col">
                  <div class="quantity">
                                <div class="pro-qty">
                      <input type="text" value="1">
                    </div>
                            </div>
                </td>
                <!--<td class="size-col"><h4>Size M</h4></td>-->
                <td class="total-col"><h4>35,00€</h4></td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="total-cost">
            <h6>Total <span>120,00€</span></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 card-right">
        <form class="promo-code-form">
          <input type="text" placeholder="Entrer le code promo ">
          <button>Appliquer</button>
        </form>
        <a  routerLink="./checkout.html" class="site-btn">Proceder au paiement</a>
        <a  routerLink="./index.html" class="site-btn sb-dark">Continuer les achats</a>
      </div>
    </div>
  </div>
</section>
<!-- cart section end -->

<!-- Related product section -->
<section class="related-product-section">
  <div class="container">
    <div class="section-title text-uppercase">
      <h2>Continuer les achats</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <div class="tag-new">Nouveauté</div>
            <img src="./img/product/2.jpg" alt="">
            <div class="pi-links">
              <a  routerLink="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au panier</span></a>
              <a  routerLink="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>760,00€</h6>
            <p>BLACK TOT Royal</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <img src="./img/product/5.jpg" alt="">
            <div class="pi-links">
              <a  routerLink="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au panier</span></a>
              <a  routerLink="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>69,00€</h6>
            <p>FLOR DE CANA 18 ans 40%</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <img src="./img/product/9.jpg" alt="">
            <div class="pi-links">
              <a  routerLink="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au panier</span></a>
              <a  routerLink="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>250,00€S</h6>
            <p>SAVANNA 15 ans 1999 </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <img src="./img/product/1.jpg" alt="">
            <div class="pi-links">
              <a  routerLink="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au panier</span></a>
              <a  routerLink="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>$35,00</h6>
            <p>Flamboyant Pink Top </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

