<!-- Header section -->
<header class="header-section">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <!-- logo -->
          <a href="./index.html" class="site-logo">
            <img src="assets/images/logo.png" alt="">
          </a>
        </div>
        <div class="col-xl-5 col-lg-5">
          <form class="header-search-form">
            <input type="text" placeholder="Chercher une bouteille...">
            <button><i class="flaticon-search"></i></button>
          </form>
        </div>
        <div class="col-xl-5 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <i class="flaticon-profile"></i>

              <a href="" class="connect btn btn-default btn-rounded waves-effect waves-light"
                data-toggle="modal" data-target="#elegantModalForm">Se connecter</a>
              <a href="./register.html">Créer un compte</a>

            </div>
            <div class="up-item">
              <div class="shopping-card">
                <i class="flaticon-bag"></i>
                <span>0</span>
              </div>
              <a href="./cart.html">Panier</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <nav class="main-navbar">
    <div class="container">
      <!-- menu -->
      <ul class="main-menu">

        <li><a href="#">Menu</a>
          <ul class="sub-menu">
            <li><a href="./product.html">Notre sélection</a></li>
            <li><a href="./category_blancs.html">Rhums blancs</a></li>
            <li><a href="./category_agricoles.html">Rhums Agricoles</a></li>
            <li><a href="./category_vieux.html">Rhums vieux</a></li>
            <li><a href="./contact.html">Nous contacter</a></li>
          </ul>
        </li>
        <li><a href="./product.html">Notre sélection</a></li>
        <li><a href="./category_all.html">Tous nos rhums</a></li>
        <li><a href="./category_blancs.html">Rhums blancs</a></li>
        <li><a href="./category_agricoles.html">Rhums Agricoles</a></li>
        <li><a href="./category_vieux.html">Rhums vieux</a></li>
        <li><a href="./contact.html">Une question?</a></li>
      </ul>
    </div>
  </nav>
</header>
<!-- Header section end -->
