<!-- Header section -->
<header class="header-section">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <!-- logo -->
          <a routerLink="index" class="site-logo">
            <img src="assets/images/logo.png" alt="">
          </a>
        </div>

<div class="col-xl-5 col-lg-5">
<form class ="header-search-form">
  <input type="text" placeholder="Chercher une bouteille...">
          <button><i class="flaticon-search"></i></button>
        </form>
      </div>
        <!--<app-show-data></app-show-data>-->

        <div class="col-xl-5 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <i class="flaticon-profile"></i>

              <a class="connect btn btn-default btn-rounded waves-effect
                waves-light"
                data-toggle="modal" data-target="#elegantModalForm"
                *ngIf="!loginService.isUserLoggedIn()" (click)="openModal()">Se
                connecter</a>
              <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/register">Créer
                un compte</a>
              <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout"
                class="nav-link">Se déconnecter</a>
            </div>

            <div class="up-item">
              <div class="shopping-card">
                <br>
                <br>
                <i class="flaticon-bag"></i>
                <span>{{numberProducts}}</span>
              </div>
              <a routerLink="/cart">Panier</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- <nav class="main-navbar navbar-expand{-sm|-md|-lg|-xl}">
    <div class="container">
      menu
      <ul class="main-menu">

        <li><a  routerLink="#">Menu</a>
          <ul class="sub-menu">
            <li><a  routerLink="product">Notre sélection</a></li>
            <li><a  routerLink="category_blancs">Rhums blancs</a></li>
            <li><a  routerLink="category_agricoles">Rhums Agricoles</a></li>
            <li><a  routerLink="category_vieux">Rhums vieux</a></li>
            <li><a  routerLink="contact">Nous contacter</a></li>
          </ul>
        </li>

          <li><a  routerLink="product">Notre sélection</a></li>
        <li><a  routerLink="category_all">Tous nos rhums</a></li>
        <li><a  routerLink="category_blancs">Rhums blancs</a></li>
        <li><a  routerLink="category_agricoles">Rhums Agricoles</a></li>
        <li><a  routerLink="category_vieux">Rhums vieux</a></li>
        <li><a  routerLink="contact">Une question?</a></li>
          </ul>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/index">
      Menu
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon">

      </span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/product">Notre sélection</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/category_all">Tous nos rhums</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/category_blancs">Rhums blancs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/category_agricoles">Rhums Agricoles</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/category_vieux">Rhums vieux</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Une question?</a>
        </li>

      </ul>
    </div>
  </nav>
</header>
<!-- Header section end -->
