<carousel>
    <slide>
      <img src="assets/images/bottles/CARROUSSEL/el-dorado-15.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>El Dorado 15 ans</h3>
        <p>Produit par la société Demerara Distillers Limited au sein de la distillerie Diamond, El Dorado 15 ans est un assemblage de rhums distillés dans quatre alambics mythiques : Enmore, Diamond (alambics à colonne), Port Mourant et Versailles (alambics à repasse en bois). Toutes vieillies en fût de bourbon, ces eaux-de-vie sont ensuite assemblées et le rhum est mis en bouteille à 43%. Marqué au nez par des notes de fruits secs, de vanille et de toffee, la bouche dévoile des notes de fruits exotiques et de chêne épicé.
</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/bottles/CARROUSSEL/flor-de-cana-18.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Flor de cana 18 ans</h3>
        <p>Un rhum haut de gamme de 18 ans, riche, avec une couleur ambrée brillante. Des arômes exquis avec des notes de noix et caramel, des saveurs intenses de vanille et d’épices, avec une finale longue et extrêmement onctueuse. Meilleur à déguster sec ou sur glace avec une écorce d’orange.
</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/bottles/CARROUSSEL/savanna.jpg" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Savanna Millénium</h3>
        <p>Depuis 1948, Savanna élabore des rhums uniques en leur genre. Qu’ils soient traditionnels, de type grand arôme ou bien encore agricoles, tous ont en commun une suavité, une maturité et en même temps une fraîcheur fruitée remarquables. Agée de 15 ans, cette cuvée baptisée « Millénium » constitue l’un des fleurons de cette distillerie. Mieux, elle nous fait faire, le temps d’une dégustation, un tour complet de cette île aux paysages pour le moins spectaculaires qu’est La Réunion.
</p>
      </div>
    </slide>
  </carousel>
