

<!-- Features section -->
<section class="features-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 p-0 feature">
        <div class="feature-inner">
          <div class="feature-icon">
            <img src="assets/images/icons/1.png" alt="#">
          </div>
          <h2>Paiements sécurisés</h2>
        </div>
      </div>
      <div class="col-md-4 p-0 feature">
        <div class="feature-inner">
          <div class="feature-icon">
            <img src="assets/images/icons/2.png" alt="#">
          </div>
          <h2>Produits de qualité</h2>
        </div>
      </div>
      <div class="col-md-4 p-0 feature">
        <div class="feature-inner">
          <div class="feature-icon">
            <img src="assets/images/icons/3.png" alt="#">
          </div>
          <h2>Livraison gratuite et rapide</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br>
<!-- Features section end -->





<div class="col-lg-12 order-1 order-lg-2 mb-5 mb-lg-0">
  <div class="row">
    <div class="col-md-12 p-0 feature">
      <div class="feature-inner">
        <div class="feature-icon favorite">
          <img src="assets/images/icons/2.png" alt="#">
        </div>

        <h2>NOUVEAUTES - PROMOTIONS</h2>
      </div>
    </div>
    </div>

    <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="product-item">
        <div class="pi-pic">
          <div class="tag-sale">EN SOLDE</div>
          <a routerLink="product"><img
              src="https://image.noelshack.com/fichiers/2019/34/4/1566465994-matusalem-15-ans.jpg"
              alt="canard" /></a>

          <div class="pi-links">
            <a routerLink="cart" class="add-card"><i
                class="fas fa-cart-plus"></i><span>Ajouter au
                panier</span></a>
            <a routerLink="product" class="wishlist-btn"><i class="fas fa-eye"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>35,00€<br><span class="prix-soldé">50,00€ </span></h6>
          <p>MATUSALEM 15 ans Gran Reserva 40%</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="product-item">
        <div class="pi-pic">
            <div class="tag-new">Nouveau</div>
          <img
            src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-el-dorado-15ans.jpg"
            alt="">
          <div class="pi-links">
            <a routerLink="cart" class="add-card"><i class="fas fa-cart-plus"></i><span>Ajouter au panier</span></a>
                <a routerLink="product" class="wishlist-btn"><i class="fas fa-eye"></i></a>
          </div>
        </div>
        <div class="pi-text">

          <h6>50,00€</h6>
          <p>EL DORADO 15 ans 43%</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="product-item">
        <div class="pi-pic">
            <div class="tag-new">Nouveau</div>
          <img
            src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-dictator-10ans.jpg"
            alt="">
          <div class="pi-links">
              <a routerLink="cart" class="add-card"><i class="fas fa-cart-plus"></i><span>Ajouter au panier</span></a>
              <a routerLink="product" class="wishlist-btn"><i class="fas fa-eye"></i></a>
          </div>
        </div>
        <div class="pi-text">
          <h6>35,00€</h6>
          <p>DICTADOR 10 ans 40% </p>
        </div>
      </div>
    </div>
</div>


  </div>

