<app-navbar-customer></app-navbar-customer>

<router-outlet></router-outlet>

<app-product-slider></app-product-slider>

<app-footer></app-footer>



<!-- <div class="container p-4">
  <div class="row">
    <div class="col text-center">
      <a (click)="changeState('state2')" class="btn btn-danger">Change to state
        2</a>
    </div>
    <div class="col text-center">
      <a (click)="changeState('state1')" class="btn btn-danger">Change to state
        1</a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <app-animate-component [currentState]="toState"></app-animate-component>
  </div>
</div> -->
