<app-navbar-customer></app-navbar-customer>

<!-- Page info -->
<div class="page-top-info">
  <div class="container">
    <h4>Tous nos rhums</h4>
    <div class="site-pagination">
      <a href="./category_all.html">Tous nos rhums</a> /

    </div>
  </div>
</div>
<!-- Page info end -->


<!-- Category section -->
<section class="category-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 order-2 order-lg-1">
        <div class="filter-widget">
          <h2 class="fw-title">Categories</h2>
          <ul class="category-menu">

            <li><a href="./category_all.html">Notre sélection</a>
              <ul class="sub-menu">
                <li><a href="#">Premiers prix <span>(x)</span></a></li>
                <li><a href="#">Milieux de gamme<span>(x)</span></a></li>
                <li><a href="#">Premium<span>(x)</span></a></li>
              </ul>
            </li>

            <li><a href="./category_blancs.html">Nos rhums blancs</a>
              <ul class="sub-menu">
                <li><a href="#">Premiers prix <span>(x)</span></a></li>
                <li><a href="#">Milieux de gamme<span>(x)</span></a></li>
                <li><a href="#">Premium<span>(x)</span></a></li>
              </ul>
            </li>

            <li><a href="./category_agricoles.html">Nos rhums agricoles</a>
              <ul class="sub-menu">
                <li><a href="#">Premiers prix <span>(x)</span></a></li>
                <li><a href="#">Milieux de gamme<span>(x)</span></a></li>
                <li><a href="#">Premium<span>(x)</span></a></li>
              </ul>
            </li>

            <li><a href="./category_vieux.html">Nos rhums vieux</a>
              <ul class="sub-menu">
                <li><a href="#">Premiers prix <span>(x)</span></a></li>
                <li><a href="#">Milieux de gamme<span>(x)</span></a></li>
                <li><a href="#">Premium<span>(x)</span></a></li>
              </ul>
            </li>

            </li>
          </ul>
        </div>
        <div class="filter-widget mb-0">
          <h2 class="fw-title">Affiner recherche par <br> <br> Prix</h2>
          <div class="price-range-wrap">
            <h3></h3>
            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
              data-min="10" data-max="800">
              <div class="ui-slider-range ui-corner-all ui-widget-header"
                style="left: 0%; width: 100%;"></div>
              <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"
                style="left: 0%;">
              </span>
              <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"
                style="left: 100%;">
              </span>
            </div>
            <div class="range-slider">
              <div class="price-input">
                <input type="text" id="minamount">
                <input type="text" id="maxamount">
              </div>
            </div>
          </div>
        </div>

        <div class="filter-widget">
          <h2 class="fw-title">Marque</h2>
          <ul class="category-menu">
            <li><a href="#">DICTADOR<span>(1)</span></a></li>
            <li><a href="#">EL DORADO<span>(1)</span></a></li>
            <li><a href="#">MATUSALEM<span>(1)</span></a></li>
            <li><a href="#">FLOR DE CANA<span>(2)</span></a></li>
            <li><a href="#">BLACK TOT<span>(1)</span></a></li>
            <li><a href="#">SAVANNA<span>(1)</span></a></li>
            <li><a href="#">TROIS RIVIERES<span>(1)</span></a></li>
            <li><a href="#">NEISSON<span>(1)</span></a></li>
            <li><a href="#">CLEMENT<span>(1)</span></a></li>
            <li><a href="#">ABLEFORTH'S<span>(2)</span></a></li>
            <li><a href="#">LONGUETEAU<span>(1)</span></a></li>
            <li><a href="#">SAMAI<span>(1)</span></a></li>
            <li><a href="#">BIELLE<span>(2)</span></a></li>
            <li><a href="#">KARUKERA <span>(2)</span></a></li>
            <li><a href="#">BOLOGNE<span>(1)</span></a></li>

          </ul>
        </div>
      </div>

      <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <div class="tag-sale">EN SOLDE</div>

                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566469309-3rivieres-cannes-brulees.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>35,00€<br></br><span class="prix-soldé">50,00€ </span></h6>
                <p>TROIS RIVIERES Cannes Brûlées</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566469309-neisson-rhum-bio.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>60,00€</h6>
                <p>NEISSON Le Rhum Bio Par Neisson</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566469309-clement-canne-bleue-2018.png"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>36,00€</h6>
                <p>RHUM CLEMENT 2018 Canne Bleue </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566469309-rumballion.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>46,00€</h6>
                <p>ABLEFORTH'S Rumbullion! </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566469309-havana-club.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>379,00€</h6>
                <p>HAVANA CLUB Union </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566469309-genesis.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>70,00€</h6>
                <p>LONGUETEAU Genesis Blanc </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566469360-samai.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>60,00€</h6>
                <p>SAMAI Kampot Pepper Rum </p>
              </div>
            </div>

          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <div class="tag-sale">EN SOLDE</div>
                <a href="./product.html"><img
                    src="https://image.noelshack.com/fichiers/2019/34/4/1566465994-matusalem-15-ans.jpg"
                    alt="canard" /></a>

                <div class="pi-links">
                  <a href="./product.html" class="add-card"><i
                      class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>35,00€<br></br><span class="prix-soldé">50,00€ </span></h6>
                <p>MATUSALEM 15 ans Gran Reserva 40%</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-el-dorado-15ans.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>50,00€</h6>
                <p>EL DORADO 15 ans 43%</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-dictator-10ans.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>35,00€</h6>
                <p>DICTADOR 10 ans 40% </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-flordecana-18ans.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>69,00€</h6>
                <p>FLOR DE CANA 18 ans 40% </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-flordecana-7ans.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>33,00€</h6>
                <p>FLOR DE CANA 7 ans Gran Reserva 40% </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-black-tot-royal.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>760,00€</h6>
                <p>BLACK TOT Royal Naval 54,3% </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466071-savanna-15ans.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>250,00€</h6>
                <p>SAVANNA 15 ans 1999 Millenium 43% </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <div class="tag-sale">EN SOLDE</div>
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466496-bielle-2001.jpg
                  " alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>265,00€<br></br><span class="prix-soldé">315,00€ </span></h6>
                <p>BIELLE 2001 Cask 61 54,6%</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466635-bielle-2002.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>630,00€</h6>
                <p>BIELLE 2002 52,8% </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466635-kakukera.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>59,00€</h6>
                <p>KARUKERA Rhum Vieux Reserve Speciale 42% </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466635-neisson.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>29,90€ </h6>
                <p>NEISSON Le Rhum par Neisson 52,5%</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466635-kakukera-base.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>47,50€</h6>
                <p>KARUKERA Rhum Vieux Agricole 42%</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466635-clement.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>35,90€</h6>
                <p>RHUM CLEMENT VSOP 40% </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="https://image.noelshack.com/fichiers/2019/34/4/1566466635-bologne-xo.jpg"
                  alt="">
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au
                      panier</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>149,00€</h6>
                <p>BOLOGNE XO 42% </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>


<!-- Category section end -->
<app-footer></app-footer>
